/* html body {
    background-color: #f8f7fc;
    font-family: "Roboto", sans-serif;
    font-size: 65.5%;
  } 
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
*/
.navbar-brand{
    color: #1E2F31;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 2em;
}
.navbar-light{
    background-color: #f8f8f8;
}
a.nav-links{
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 1em;
    padding: 0.8em 0.6em 0.2em 0.6em;
    color: #1E2F31;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}
/* a.nav-links:hover{
    color: #037272;
    text-decoration: underline;
    /* transition: ease-in-out,border-color .15s ease-in-out; 
}*/
a.activated{
    color: #037272;
    border-bottom: #037272 0.12em solid;
} 

a.nav-links::after {
    position: absolute;
    background-color: #037272;
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 0.12em;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
  
a.nav-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}







/*countdown*/


.countdown .vr{
    background-color: #5C6174;
    padding: 1px 0.5px;
}
.digits{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 3.7em;
    color: #037272;
    line-height: 130%;
}
.countdown p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #5C6174;
    text-align: center;
    line-height: 0;
}