html body {
  font-family: "Roboto", sans-serif;
} 
  /*
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primaryBtn{
  background-color: #037272;
  padding: 0.6em;
  border-radius: 0.6em;
}
.secondryBtn{
  background-color: #5C6174;
  padding: 0.6em;
  border-radius: 0.6em;
}
.primaryBtn:hover{
  background-color: #037272;
  opacity: 0.8;
}
.secondryBtn:hover{
  opacity: 0.8;
  background-color: #5C6174;
}
.primaryBtnLink{
  background-color: #037272;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.primaryBtnLink:hover, .thirdBtn:hover {
  border: 1px solid #037272;
  background-color: transparent;
  color: #037272;
  position: static;
  z-index: 10;
}
.secondryBtnLink{
  background-color: #5C6174;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.secondryBtnLink:hover {
  border: 1px solid #5C6174;
  background-color: transparent;
  color: #5C6174;
  position: static;
  z-index: 10;
}
.thirdBtn{
  background-color: transparent;
  text-decoration: underline;
  color: #5C6174;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
}

.navbar-brand{
    color: #1E2F31;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 2em;
}
.navbar-light{
    background-color: #f8f8f8;
}
a.nav-links{
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 1em;
    padding: 0.8em 0.6em 0.2em 0.6em;
    color: #1E2F31;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    
}
/* a.nav-links:hover{
    color: #037272;
    text-decoration: underline;
    /* transition: ease-in-out,border-color .15s ease-in-out; 
}*/
a.activated{
    color: #037272;
    border-bottom: #037272 0.12em solid;
} 

a.nav-links::after {
    position: absolute;
    background-color: #037272;
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 0.12em;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
  
a.nav-links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}






/*countdown*/
.countdown .vr{
    background-color: #5C6174;
    padding: 1px 0.5px;
}
.digits{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 3.7em;
    color: #037272;
    line-height: 130%;
}
.countdown p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #5C6174;
    text-align: center;
    line-height: 0;
}


/*Timeline*/  
.timelineBg{
  background-color: #f8f8f8;
  position: relative;
  /* z-index: -2; */
  z-index: 1;
  padding: 0 0 1% 0;
  border-radius: 1.1em;
}
.timeline {
  width: 100%;
  margin-left: 7%;
  
}

.timelineBg h3{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  color: #1E2F31;
  padding: 2% 0 5% 2%;
  text-transform: capitalize;
}
.stepWrapper {
  display: flex;
  margin-bottom: 4em;
}
.stepBlock{
  width: 100%;
}
.stepBlock .circleWrapper {
  position: relative;
  
}

.stepBlock:not(:last-child) > .circleWrapper::after {
  content: '';
  width: 100%;
  background-color: #037272;
  height: 3px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: -1;
}
.stepBlock:not(:last-child).activated > .circleWrapper::after, .stepBlock:not(:last-child).activated ~ .stepBlock:not(:last-child) > .circleWrapper::after {
  height: 2px;
  background-color: #5C6174;
  opacity: 0.6;
}

.circle { 
  background-color: #f8f8f8;
  border: 2px solid #037272;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.activated .circle {
  background-color: #037272;
  border-color: transparent;
  transform: scale(2);
}

.stepBlock span{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #5C6174;
  display: block;
  margin-top: 5%;
}
.stepBlock p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  color: #5C6174;
  margin-bottom: 10%;
}

.activated span {
  color: #037272;
  font-size: 2em;
}
.activated p{
  color: #037272;
  font-size: 1.5em;
  line-height: 1.2em;
}

.timeline .primaryBtnLink{
  margin-left: auto;
}
.timelineBtn{
  margin-right: 15%;
}




/* home page */

.home {
  margin-top: 5em;
  margin-bottom: 5em;
}
.home h1, .create-page h1{
  color: #1E2F31;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}
.home .deadline{
  display: flex;
  align-items: center;
}
.home .deadline span{
  padding-right: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
}


/* home page table */
.homeSec2{
  margin-top: 6em;
  margin-bottom: 5em;
}
.homeSec2 h2{
  color: #1E2F31;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  padding: 1em 0;
}
.homeTable{
  border-radius: 1em;
 }
 .homeTable th{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-bottom: #5C6174 0.1em solid;
  padding: 1.5em 1em 0.5em 1em;
  color: #5C6174;
  background-color: #f8f8f8;
 }
 .homeTable td{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  border-bottom: #5C6174 0.02em solid;
  padding: 1em;
  color: #5C6174;
  text-transform: capitalize;
  background-color: #f8f8f8;
 }
.homeTable .primaryLink{
  color: #5C6174;
}
.homeTable .primaryLink:hover{
  color: #037272;
}


/*project page table*/
#custom-table{
  border-radius: 5em;
}
#custom-table th{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-bottom: #5C6174 0.1em solid;
  padding: 1.5em 1em 0.5em 1em;
  color: #5C6174;
  background-color: #f8f8f8;
} 
#custom-table th:first-child, .homeTable th:first-child {
  border-top-left-radius: 1em;
}
#custom-table th:last-child, .homeTable th:last-child {
  border-top-right-radius: 1em;
}
#custom-table tr{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  border-bottom: #5C6174 0.02em solid;
  padding: 1em;
  color: #5C6174;
  text-transform: capitalize;
  background-color: #f8f8f8;
}

#custom-table tr:last-child td:last-child, .homeTable tr:last-child td:last-child{
  border-bottom-right-radius: 1em;
}
#custom-table tr:last-child td:first-child, .homeTable tr:last-child td:first-child{
  border-bottom-left-radius: 1em;
}
#custom-table tr a{
  color: #5C6174;
}
#custom-table tr a:hover{
  color: #037272;
}

/*project page filters*/
.project-filters{
  padding-bottom: 0.5em;
}

.project-filters .p-dropdown, .project-filters .p-inputtext {
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.6em;
  font-family: 'Roboto Condensed', sans-serif;
}
.project-filters .srch{
  width: 20em;
}
.p-progressbar-indeterminate{
 background-color: red !important;
}



/* details page*/
.details{
  background-color: #f8f8f8;
  border-radius: 1em;
  margin: 3em auto;
}
.details-elements{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.details-elements>div{
  width: 40%;
  padding: 1em;
}
.detailsPhaseName{
  border-bottom: #5C6174 0.02em solid;
  padding: 1.5em 2em 1em 2em; 
}
.details h3{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  color: #5C6174;
}
.details-elements>div h3{
  padding: 1em 0;
}
.details .questions{
  background-color: white;
  padding: 0.8em;
  border-radius: 0.5em;
  color: #5C6174;
}
.details .steps {
  text-align: right;
  margin: 1em;
  padding-bottom: 1em;
}
.details .steps button:first-child{
  margin-right: 1em;
}
.details-titles{
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}
.details-titles>span{
  margin: 0 1em;
  text-transform: capitalize;
  background-color: white;
  border: #5C6174 0.03em solid;
  padding: 0.8em;
  border-radius: 0.5em;
  color: #5C6174;
}
.details-titles span>span{
  font-weight: 600;
}



/* Create project page */
.create-page{
  margin-top: 6em;
  margin-bottom: 3em; 
}
.form-container{
  background-color: #f8f8f8;
  max-width: 57.25em;
  margin: 0 auto;
  padding: 3em 5em;
  border-radius: 1em;
}
.form-container .form-label, .form-container .form-control, .form-container .form-select {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #1E2F31;
  border-radius: 0.6em;
}
.form-container .form-control, .form-container .form-select {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.form-container .form-label{
  padding-top: 1.2em;
}
form>:nth-child(4) {
  padding-top: 3.5em;
} 

.form-container .form-control, .form-container .form-select  {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #1E2F31;
}
.form-btns{
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
}
.form-btns+div{
  text-align: right;
}



/* checkbox template page*/

.template-page{
  margin-top: 6em;
  margin-bottom: 3em; 
}
.template-page p{
  color: #1E2F31;
  padding: 1em 0;
}


/*checklist per phase component*/

.checks-title{
  color: #5C6174;
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: #5C6174 0.07em solid;
  padding-bottom: 0.4em;
  margin-bottom: 2.5em;
}


/*one checkbox*/

.one-checkbox {
  display: flex;
  margin-top: 1em;
}
.one-checkbox p{
  background-color: #fff;
  border-radius: 0.6em;
  padding: 1em;
  color: #1E2F31;
}
.one-checkbox .line-through{
  text-decoration: line-through;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin-top: 0.6em;
  color: #5C6174;
  width: 2em;
  height: 2em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  margin-right: 1em;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.3em;
  height: 1.3em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #037272;
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.navigation-buttons{
  display: flex;
  justify-content: space-around;
  margin: 3em auto;
}

.navigation-buttons .steps button:first-child{
  margin-right: 1em;
}











  /* .primaryButton:disabled {
    opacity: 0.5;
  } */